<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>文件列表</title>
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<link rel="stylesheet" href="/static/css/font.css" />
		<link rel="stylesheet" href="/static/css/weadmin.css" />
		<link rel="stylesheet" href="/lib/layui/css/layui.css" />
	</head>

	<body>
		<div class="weadmin-nav">
			<span class="layui-breadcrumb">
				<a href="javascript:;">首页</a> <a href="javascript:;">数据管理</a>
				<a href="javascript:;"> <cite>算力信息列表</cite></a>
			</span>
			<a class="layui-btn layui-btn-sm" style="margin-top:3px;float:right" href="javascript:location.replace(location.href);"
			 title="刷新">
				<i class="layui-icon layui-icon-refresh"></i>
				<!-- <i class="layui-icon" style="line-height:30px">&#x1002;</i> -->
			</a>
		</div>

		<div class="weadmin-body">
			<div class="layui-row">
				<form class="layui-form layui-col-md12 we-search">
					文件搜索：
					<div class="layui-inline">
						<input type="text" name="username" placeholder="请输入文件名" autocomplete="off" class="layui-input" />
					</div>
					<button class="layui-btn" lay-submit="" lay-filter="sreach">
						<i class="layui-icon layui-icon-search"></i>
					</button>
				</form>
			</div>
			<div class="weadmin-block">
				<button class="layui-btn layui-btn-danger" onclick="DelAllUser()">
					<i class="layui-icon layui-icon-delete"></i>批量删除
				</button>
				<button class="layui-btn" onclick="WeAdminShow('添加用户','./add.html',600,400)">
					<i class="layui-icon layui-icon-add-circle-fine"></i>添加
				</button>
				<span class="fr" style="line-height:40px">共有数据：<%-counts%>条</span>
			</div>
			<table class="layui-table" id="memberList">
				<thead>
					<tr>
						<th>
							<div class="layui-unselect header layui-form-checkbox" lay-skin="primary">
								<i class="layui-icon">&#xe605;</i>
							</div>
						</th>
						<th>算力标识</th>
						<th>CPU信息</th>
						<th>主存信息</th>
						<!-- <th>hash值</th> -->
						<!-- <th>状态</th> -->
						<!-- <th>操作</th> -->
					</tr>
				</thead>
				<tbody>
					<% for(let i=0;i<cplist.length;i++){ %>
						<tr>
							<td>
								<div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='<%-cplist[i].C_id%>'>
									<i class="layui-icon">&#xe605;</i>
								</div>
							</td>
							<td><%-cplist[i].C_id%></td>
							<td><%-cplist[i].C_CPU%></td>
							<td><%-cplist[i].C_Memory%></td>
							<!-- <td class="td-manage">
								<a title="编辑" onclick="WeAdminEdit('编辑','./edit.html', 1, 600, 400)" href="javascript:;">
									<i class="layui-icon layui-icon-edit"></i>
								</a>
								<a title="删除" onclick="file_del(this,'<%-cplist[i].C_id%>')"  href="javascript:;">
									<i class="layui-icon layui-icon-delete"></i>
								</a>
							</td>
						</tr>
					<% } %>
				</tbody>
			</table>
			
			<div id="demo0" ></div>
		</div>
		<!--<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>-->
		<script src="/lib/layui/layui.js" charset="utf-8"></script>
		<script src="/static/js/eleDel.js" type="text/javascript" charset="utf-8"></script>
		<script>
			layui.use(['laydate', 'jquery', 'admin','laypage', 'layer'], function() {
				var laydate = layui.laydate,
					$ = layui.jquery,
					admin = layui.admin;
					var laypage = layui.laypage
						,layer = layui.layer;
						
					var currPage = 1;
						//总页数低于页码总数
						laypage.render({
							elem: 'demo0',
							limit:5,
							count:'<%-counts%>', //数据总数
							curr:'<%-page%>',							
							jump:function(obj,first){
								if(!first){
									console.log('当前页码:'+obj.curr);
									currPage = obj.curr;
									location.href="/users/file/filelist?page="+currPage;
								}
							}
						});

					window.DelAllUser = function (argument) {
					var data = tableCheck.getData();
					layer.confirm('确认要删除吗？' + data, function(index) {
						//捉到所有被选中的，发异步进行删除
						console.log(data)
						$.ajax({
							method:"post",
							url:"/admin/userlist/delAllUser",
							data:{dellist:data},
						}).then(function(res){
							console.log(res)
							layer.msg('删除成功', {
								icon: 1
							});
							//$(".layui-form-checked").not('.header').parents('tr').remove();
							location.reload()
						})
						
					});
            	}

				//删除数据集
				window.file_del = function (obj, fileid) {
					layer.confirm('确认要删除吗？', function(index) {
						//发异步删除数据
						$.ajax({
							url:"/users/file/delfileByID",
							method:"post",
							data:{fileid:fileid},
						}).then(function (res) {
							layer.msg('已删除!', {
								icon: 1,
								time: 1000
							});
							//$(obj).parents("tr").remove();
							location.reload()
						})				
					})			
				}


				//下载数据集
				window.file_download = function (obj, filehash,filename) {
						//发异步删下载数据集
					layer.confirm('确认要下载吗？', function(index) {
						console.log(filehash)
						$.ajax({
							url:"/users/file/downloadfile",
							method:"post",
							data:{filehash:filehash,filename:filename},
						}).then(function (res) {
							layer.msg('文件下载成功!', {
								icon: 1,
								time: 1000
							});
							//$(obj).parents("tr").remove();
							location.reload()
						})
					})				
				}

				window.user_stop = function (obj, id) {
					layer.confirm('确认要启用/停用吗？', function(index) {
						if($(obj).attr('title') == '停用') {

							//发异步把用户状态进行更改
							$.ajax({
								url:"/admin/userlist/stopUser",
								method:"post",
								data:{id:id},
							}).then(function(res){
								$(obj).attr('title', '启用')
								$(obj).find('i').html('&#xe62f;');

								$(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
								layer.msg('已停用!', {
									icon: 5,
									time: 1000
								});
							});							
						} else {
							$.ajax({
								url:"/admin/userlist/openUser",
								method:"post",
								data:{id:id},
							}).then(function(res){
								$(obj).attr('title', '停用')
								$(obj).find('i').html('&#xe601;');

								$(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
								layer.msg('已启用!', {
									icon: 6,
									time: 1000
								});
							})						
						}
					});
				}					
			});
		</script>
	</body>
</html>
